# Excercise

In [54]:
import pandas as pd
import numpy as np

df = pd.read_csv("data/heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [55]:
df_dumm = pd.get_dummies(df, drop_first=True)
df_dumm.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,True,True,False,False,True,False,False,False,True
1,49,160,180,0,156,1.0,1,False,False,True,False,True,False,False,True,False
2,37,130,283,0,98,0.0,0,True,True,False,False,False,True,False,False,True
3,48,138,214,0,108,1.5,1,False,False,False,False,True,False,True,True,False
4,54,150,195,0,122,0.0,0,True,False,True,False,True,False,False,False,True

In [ ]:
z_scores = np.abs((df_dumm - df_dumm.mean()) / df_dumm.std())  # get z=scores
z_scores.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,1.432359,0.410685,0.824621,0.551041,1.382175,0.831979,1.112508,0.515671,2.074046,0.532547,0.229554,0.813831,0.490182,0.823108,1.001635,1.150047
1,0.478223,1.490940,0.171867,0.551041,0.753746,0.105606,0.897891,1.937107,0.481624,1.875721,0.229554,0.813831,0.490182,0.823108,0.997280,0.868582
2,1.750404,0.129442,0.769768,0.551041,1.524307,0.831979,1.112508,0.515671,2.074046,0.532547,0.229554,1.227418,2.037836,0.823108,1.001635,1.150047
3,0.584238,0.302660,0.138964,0.551041,1.131539,0.574398,0.897891,1.937107,0.481624,0.532547,0.229554,0.813831,0.490182,1.213585,0.997280,0.868582
4,0.051853,0.950812,0.034736,0.551041,0.581664,0.831979,1.112508,0.515671,0.481624,1.875721,0.229554,0.813831,0.490182,0.823108,1.001635,1.150047

In [ ]:
df_no_outliers = df_dumm[
    (z_scores < 3).all(axis=1)
]  # keep row if all values are within sigma +/-3
df_no_outliers.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,True,True,False,False,True,False,False,False,True
1,49,160,180,0,156,1.0,1,False,False,True,False,True,False,False,True,False
2,37,130,283,0,98,0.0,0,True,True,False,False,False,True,False,False,True
3,48,138,214,0,108,1.5,1,False,False,False,False,True,False,True,True,False
4,54,150,195,0,122,0.0,0,True,False,True,False,True,False,False,False,True

In [ ]:
# split
X = df_no_outliers.drop("HeartDisease", axis="columns")
y = df_no_outliers.HeartDisease
X[:5]

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,True,True,False,False,True,False,False,False,True
1,49,160,180,0,156,1.0,False,False,True,False,True,False,False,True,False
2,37,130,283,0,98,0.0,True,True,False,False,False,True,False,False,True
3,48,138,214,0,108,1.5,False,False,False,False,True,False,True,True,False
4,54,150,195,0,122,0.0,True,False,True,False,True,False,False,False,True

In [ ]:
# scale first
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)
X_scaled[:5]

array([[0.24489796, 0.57142857, 0.55791506, 0.        , 0.78417266,
        0.33333333, 1.        , 1.        , 0.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 1.        ],
       [0.42857143, 0.76190476, 0.34749035, 0.        , 0.66906475,
        0.5       , 0.        , 0.        , 1.        , 0.        ,
        1.        , 0.        , 0.        , 1.        , 0.        ],
       [0.18367347, 0.47619048, 0.54633205, 0.        , 0.25179856,
        0.33333333, 1.        , 1.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 1.        ],
       [0.40816327, 0.55238095, 0.41312741, 0.        , 0.32374101,
        0.58333333, 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 1.        , 1.        , 0.        ],
       [0.53061224, 0.66666667, 0.37644788, 0.        , 0.42446043,
        0.33333333, 1.        , 0.        , 1.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 1.        ]])

In [60]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, train_size=0.8)

In [61]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.847953216374269

In [63]:
X.shape

(854, 15)

In [62]:
from sklearn.decomposition import PCA

pca = PCA(0.95)

X_pca = pca.fit_transform(X)
X_pca.shape

(854, 2)

In [ ]:
pca.explained_variance_ratio_

array([0.92308022, 0.04960242])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X_pca, y, train_size=0.8, random_state=30
)

model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.6549707602339181