## Ways to make dataframes
and more: https://pandas.pydata.org/docs/user_guide/io.html

In [9]:
import pandas as pd
df = pd.read_csv("data/weather_data (1).csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [10]:
df = pd.read_excel("data/weather_data.xlsx", "Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [12]:
# dictionary
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)  
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [16]:
# tuple
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df = pd.DataFrame(weather_data, columns=["day", "temp", "wind", "event"])
df

        day  temp  wind  event
0  1/1/2017    32     6   Rain
1  1/2/2017    35     7  Sunny
2  1/3/2017    28     2   Snow

In [18]:
# list of dictionaries
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df = pd.DataFrame(weather_data, columns=["day", "temp", "wind", "event"])
df

        day  temp  wind  event
0  1/1/2017   NaN   NaN   Rain
1  1/2/2017   NaN   NaN  Sunny
2  1/3/2017   NaN   NaN   Snow