## Pandas Time Series Analysis 5: Period and PeriodIndex

In [ ]:
import pandas as pd

y = pd.Period("2016")
y

Period('2016', 'Y-DEC')

In [179]:
dir(y)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_cython__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__setstate_cython__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [180]:
# y.start_time
y.end_time
m = pd.Period("2011-1", freq="M")
m

Period('2011-01', 'M')

In [181]:
# m.start_time
# m.end_time
m + 1

Period('2011-02', 'M')

In [182]:
# d = pd.Period("2017-02-28") # implicit
# d = pd.Period("2017-02-28", freq="D")
d = pd.Period("2016-02-28", freq="D")  # leap year
# d
d + 1

Period('2016-02-29', 'D')

In [183]:
# h = pd.Period("2017-02-28 23:00:00", freq="H")
h = pd.Period("2016-02-28 23:00:00", freq="H")  # leap year
# h.start_time
# h.end_time  # end of hour
# h + 1
h - 6

/tmp/ipykernel_90968/52703366.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  h = pd.Period("2016-02-28 23:00:00", freq="H")  # leap year

Period('2016-02-28 17:00', 'h')

In [184]:
h + pd.offsets.Hour(5)

Period('2016-02-29 04:00', 'h')

In [185]:
q = pd.Period("2017Q1")
# q
# q + 1
# q.start_time
q.end_time

Timestamp('2017-03-31 23:59:59.999999999')

In [186]:
# some fiscal years are diff, like WMT
q = pd.Period("2017Q1", freq="Q-JAN")
# q
q.start_time
# q.end_time

Timestamp('2016-02-01 00:00:00')

In [187]:
# q.asfreq("M", how="start")
q.asfreq("M", how="end")

Period('2016-04', 'M')

In [188]:
q2 = pd.Period("2018Q2", freq="Q-JAN")
q2

Period('2018Q2', 'Q-JAN')

In [ ]:
q2 - q  # units (periods) have to match

In [ ]:
# idx = pd.period_range("2011", "2017", freq="Q-JAN") # 2011 = fiscal (2011Q4)
idx = pd.period_range("2011", periods=10, freq="Q-JAN")  # 2011 = fiscal (2011Q4)
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [191]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [192]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [ ]:
import numpy as np

ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4    0.059222
2012Q1   -0.283769
2012Q2    0.435168
2012Q3    1.328226
2012Q4    0.349097
2013Q1    0.734480
2013Q2    0.825864
2013Q3    0.155392
2013Q4    0.369479
2014Q1    0.051589
Freq: Q-JAN, dtype: float64

In [194]:
# ps.index
ps["2011":"2013"]

2011Q4    0.059222
2012Q1   -0.283769
2012Q2    0.435168
2012Q3    1.328226
2012Q4    0.349097
2013Q1    0.734480
2013Q2    0.825864
2013Q3    0.155392
2013Q4    0.369479
2014Q1    0.051589
Freq: Q-JAN, dtype: float64

In [195]:
pst = ps.to_timestamp()
# pst
# pst.index
pst.to_period()

2010Q4    0.059222
2011Q1   -0.283769
2011Q2    0.435168
2011Q3    1.328226
2011Q4    0.349097
2012Q1    0.734480
2012Q2    0.825864
2012Q3    0.155392
2012Q4    0.369479
2013Q1    0.051589
Freq: Q-DEC, dtype: float64

In [ ]:
# excercise: convert to quarter x-axis (with weird WMT fiscal year)
df = pd.read_csv("data/wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [197]:
df.set_index("Line Item", inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [ ]:
df = df.T  # tranpose
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [ ]:
# df.index # object type
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [203]:
df["start date"] = df.index.map(lambda x: x.start_time)
df["end date"] = df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999